run = "npm start"
entrypoint = "index.js"

[env]
NODE_ENV = "production"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enableGuessImports = true

[nix]
channel = "stable-24_05"
